# Mode démo recommandé pour la soutenance ou la présentation frontend
VITE_USE_REMOTE_API=false
VITE_API_URL=

# Pour connecter une API plus tard
# VITE_USE_REMOTE_API=true
# VITE_API_URL=http://localhost:3333
